<div class="card">
    <div class="card-header">
        <b>Selecciona los mormatos en los que lo quieres imprimir</b>
    </div>
    <form [formGroup]="form">

        <div class="card-body">

            <div class="flex align-items-center">
                <input type="checkbox" label="alto62_ancho84" formControlName="alto62_ancho84"> 
                <span>6.2cm * 8.4 cm </span>
            </div>
            <div class="flex align-items-center">
                <input type="checkbox" label="alto84_ancho105" formControlName="alto84_ancho105">
                <span>8.4 cm * 10.5 cm</span>
            </div>
            <div class="flex align-items-center">
                <input type="checkbox" label="alto115_ancho148" formControlName="alto115_ancho148">
                <span>11.5 cm * 21.0 cm</span>
            </div>
            <div class="flex align-items-center">
                <input type="checkbox" label="alto158_ancho210" formControlName="alto158_ancho210">
                <span>15.8 cm * 21.0 cm</span>
            </div>
            <!--

                <div class="flex align-items-center">
                    <input type="checkbox" label="Etiqueta mayor 500 ml SERVIKOM" formControlName="EtqMayor500mlServikom"><span>Etiqueta mayor 500 ml SERVIKOM</span>
                </div>
            -->

        </div>
    </form>
    <div class="card-footer ">
        <button (click)="tamano()">Imprimir </button>
        <button (click)="onNoClick()">Cancelar </button>
    </div>
</div>